body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    width: 400px;
}

body header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

body #PMT {
    max-width: 50px;
    width: 100%;
}

body #toolList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

body #toolList button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f15f41;
    border: none;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
}

body #toolList button:hover {
    background-color: #c84632;
}