body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    width: 400px;
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }

    #PTM {
        max-width: 50px;
        width: 100%;
    }
    #toolList{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        button {
            width: 100%;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: rgb(241, 95, 65);
            border: none;
            color: white;
            border-radius: 4px;
            transition: background-color 0.3s;
            &:hover {
                background-color: rgb(200, 70, 50);
            }
        }
    }
}